body {
  font-family: 'Poppins', sans-serif;
  background-color: #f9fbff;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  background-color: #58aaf5;
  color: white;
  text-align: center;
  padding: 20px 10px;
  
}

nav a {
  color: white;
text-decoration: none;
  margin: 0 10px;
  font-weight: 500;
}

nav a:hover {
  text-decoration: underline;
}
.hero {
text-align: center;
padding: 40px 20px;
}

.avatar {
  width: 130px;
border-radius: 50%;
margin-bottom: 15px;
}

section {
texalign: center;
padding: 30px;
}
.skill li {
margin : 10px 0;
font-size: 18px;
}
.project-card {
background-color: #eaf4ff;
border-radius: 10px;
padding: 20px;
margin: 80%;
max-width: 500px;
box-shadow :0 2px 5px rgba(0,0,0,0.1);
}
form {
display: flex;
flex-direction: column;
align-+items: center;
gap: 10px;
}
input, textarea {
width: 80%;
max-width: 400px;
padding: 10px;
border-radius: 5px;
border: 1px solid #ccc;
}
button {
background-color: #58aaf5;
color: white;
border: none;
padding: 10px 20px;
border-radius: 5px;
cursor; pointer;
}
button:hover {
background-color: #222;
color: #fff;
text-align: center;
padding: 15px;
margin-top: 40px;
}
